
.App {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden;
  position: relative;
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  animation: twinkle 1s infinite;
}


.container {
  font-size: 10px;
  width: 100em;
  height: 40em;
  position: relative;

}
.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 10px;
  transform: translate(-50%, -50%);
  width: 10em;
  height: 10em;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 3em white;
  background-image: url("https://wiki.sinsofasolarempire.com/images/a/ad/Soase_Sun.png");
  background-position: center;
  /* animation: move-left 1.5s linear infinite; */
}
/* .sun::before {
  top: 2.8em;
  right: 2.8em;
  width: 3em;
  height: 3em;
  animation: move-left 1s linear infinite;
} */
@keyframes move-left {
  from {
    transform: translate(100%, -50%);
  }
  to {
    transform: translate(-100%, -50%);
  }
}
.earth,.sun,
.moon , .mercury ,.venus ,.mars , .jupiter, .saturn ,.uranus ,.neptune { 
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: 0.1em 0.1em 0 0;
  border-radius: 50%;
}
.earth {
  top: -10em;
  left: -10em;
  width: 31em;
  height: 31em;
  animation: orbit 50.5s linear infinite;
  animation-delay: 2s;

}
.mars {
  top: -13em;
  left: -13em;
  width: 40em;
  height: 40em;
  animation: orbit 60.5s linear infinite;
  animation-delay: 3s;

}
.mercury {
  top: -3em;
  left: -3em;
  width: 15em;
  height: 15em;
  animation: orbit 25.5s linear infinite;
}
.venus {
  top: -7em;
  left: -8em;
  width: 25em;
  height: 25em;
  animation: orbit 35.5s linear infinite;
  animation-delay: 1s;

}
.jupiter {
  top: -17em;
  left: -17em;
  width: 50em;
  height: 50em;
  animation: orbit 70.5s linear infinite;
  animation-delay: 4s;

}
.saturn {
  top: -20em;
  left: -20em;
  width: 60em;
  height: 60em;
  animation: orbit 80.5s linear infinite;
  animation-delay: 5s;

}
.uranus {
  top: -23em;
  left: -23em;
  width: 70em;
  height: 70em;
  animation: orbit 85.5s linear infinite;
  animation-delay: 6s;

}
.neptune {
  top: -28em;
  left: -28em;
  width: 80em;
  height: 80em;
  animation: orbit 90.5s linear infinite;
  animation-delay: 7s;

}
.moon {
  top: 2em;
  right: 2em;
  width: 5em;
  height: 5em;
  animation: orbit 2.7s linear infinite;
 
}
.earth::before,
.moon::before ,.mercury::before ,.venus::before , .mars::before,
.jupiter::before,.saturn::before,.uranus::before ,.neptune::before{
  content: "";
  position: absolute;
  border-radius: 50%;
}
.earth::before {
  top: 2.8em;
  right: 2.8em;
  width: 3em;
  height: 3em;
  background-color: #82b8c2;
  background-image: url("https://img.icons8.com/external-tulpahn-flat-tulpahn/64/null/external-earth-space-tulpahn-flat-tulpahn.png");
  background-position: center;
  animation: rotate 2s linear infinite;
}
.mars::before {
  top: 4.8em;
  right: 3.8em;
  width: 3em;
  height: 3em;
  background-color: #9C2E35;
  background-image: url("https://img.icons8.com/external-tulpahn-flat-tulpahn/64/null/external-mars-space-tulpahn-flat-tulpahn.png");
  background-position: center;
  animation: rotate 2s linear infinite;

}
.mercury::before {
  top: 0.8em;
  right: 0.8em;
  width: 3em;
  height: 3em;
  background-color: #B5A7A7;
  background-image: url("https://img.icons8.com/external-tulpahn-flat-tulpahn/64/null/external-mercury-space-tulpahn-flat-tulpahn.png");
  background-position: center;
  animation: rotate 2s linear infinite;

}
.venus::before {
  top: 2.8em;
  right: 1.8em;
  width: 3em;
  height: 3em;
  background-color: #c18f17;
  background-image: url("https://img.icons8.com/external-tulpahn-flat-tulpahn/64/null/external-venus-space-tulpahn-flat-tulpahn.png");
  background-position: center;
  animation: rotate 2s linear infinite;

}
.jupiter::before {
  top: 5.8em;
  right: 5.8em;
  width: 3em;
  height: 3em;
  background-color: #e3dccb;
  background-image: url("https://img.icons8.com/external-tulpahn-flat-tulpahn/64/null/external-jupiter-space-tulpahn-flat-tulpahn.png");
  background-position: center;
  animation: rotate 2s linear infinite;

}
.saturn::before {
  top: 6.8em;
  right: 7.8em;
  width: 3em;
  height: 3em;
  background-color: #cecece;
  background-image: url("https://img.icons8.com/color/48/null/saturn-planet.png");
  background-position: center;
  animation: rotate 2s linear infinite;

}
.uranus::before {
  top: 8.8em;
  right: 8.8em;
  width: 3em;
  height: 3em;
  background-color: #d1e7e7;
  background-image: url("https://img.icons8.com/external-tulpahn-flat-tulpahn/64/null/external-uranus-space-tulpahn-flat-tulpahn.png");
  background-position: center;
  animation: rotate 2s linear infinite;

}
.neptune::before {
  top: 10.8em;
  right: 9.8em;
  width: 3em;
  height: 3em;
  background-color: #274687;
  background-image: url("https://img.icons8.com/external-tulpahn-flat-tulpahn/64/null/external-neptune-space-tulpahn-flat-tulpahn.png");
  background-position: center;
  animation: rotate 2s linear infinite;

}

.moon::before {
  top: -0.2em;
  right: 0.2em;
  width: 1.2em;
  height: 1.2em;
  background-color: #F6F1D5;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ee/Weather_icon_-_full_moon.svg");
  background-position: center;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}